.single {
  padding: 2px 16px;
  background: #fff;
  display: block;
  margin: 20px 0px;
  cursor: pointer;
  border-left: 8px solid #fff;
}
.single:hover {
  border-left: 8px solid #4979ff;
}
.listHeight {
  height: calc(100vh - 450px);
  overflow: auto;
}
